.category-name {
    h1 {
        font-weight: 700;
        font-size: 20px;
    }
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 45px 20px;
    }
    &__btns {
        display: flex;
        align-items: center;
        gap: 5px;
        button {
            border: none;
            background: none;
            cursor: pointer;
        }
    }
}

.filter {
    .container {
        display: flex;
        align-items: flex-start;
        gap: 30px;
    }
    &__body {
        width: 100%;
        max-width: 400px;
        border: 1px solid #F2F2F2;
        padding: 30px;
        height: 100%;
        .price {
            span {
                font-weight: 400;
                font-size: 16px;
                color: $sub-info-color;
                display: block;
            }
        }
        .to-from {
            display: flex;
            align-items: center;
            margin-top: 17px;
            span {
                font-weight: 400;
                font-size: 14px;
                padding: 13px 18px 13px 15px;
                border: 1px solid #E0E0E0;
                width: 100%;
                &:first-child {
                  border-radius: 5px 0px 0px 5px;  
                }
                &:last-child {
                    border-radius: 0px 5px 5px 0;
                }
                display: block;
            }
        }
        .range-input {
            width: 100%;
            max-width: 265px;
            margin-top: 10px;
            accent-color: $pr-color;
        }
        .pick-up {
            margin-top: 20px;
            h1 {
                font-weight: 400;
                font-size: 16px;
                color: #000000;
            }
            .up {
                width: 300px;
                display: flex;
                align-items: center;
                gap: 10px;
                border: 1px solid $pr-color;
                border-radius: 5px;
                padding: 12px 15px;
                margin-top: 13px;
                input {
                    accent-color: $pr-color;
                    width: 20px;
                    height: 20px;
                }
                h2 {
                    font-weight: 400;
                    font-size: 16px;
                    color: $sub-info-color;
                }
            }
        }
        .breand-filter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            h1 {
                font-weight: 400;
                font-size: 16px;
            }
            button {
                border: none;
                background: none;
            }
        }
    }
    &__list {
        margin-top: 10px;
        padding-bottom: 20px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                display: flex;
                align-items: center;
                gap: 8px;
                input {
                    width: 20px;
                    height: 20px;
                    accent-color: $pr-color;
                }
                a {
                    font-weight: 400;
                    font-size: 14px;
                    color: $sub-info-color;
                }
            }
        }
    }
    &__botter {
        height: 100%;
        margin-top: 10px;
        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            h1 {
                font-weight: 400;
                font-size: 16px;
            }
            button {
                border: none;
                background: none;
            }
        }
        .botter-width {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            &__item {
                display: flex;
                align-items: center;
                gap: 8px;
                input {
                    accent-color: $pr-color;
                    width: 20px;
                    height: 20px;
                }
                h2 {
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }
    }
    &__cards-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-bottom: 30px;
        @media screen and (max-width: 1287px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.filter-media-btn {
    display: none;
}

.check-btn {
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background: $pr-color;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all .1s ease;
    margin-top: 20px;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 0.8;
    }
}

@media screen and (max-width: 1265px) {
    .filter {
        &__cards-wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 989px) {
    .filter {
        position: relative;
        .container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__body {
            width: 100%;
            height: fit-content;
            max-width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            z-index: 20;
            transition: all .3s ease;
        }
        .filter-media {
            position: absolute;
            left: -100%;
        }
    }
    .filter-media-btn {
        display: block;
    }
}

@media screen and (max-width: 597px) {
    .filter {
        &__cards-wrapper {
            width: 100%;
            grid-template-columns: 1fr;
            &__card {
                width: 100%;
            }
        }
        &__body {
            .pick-up {
                .up {
                    width: 100%;
                }
            }
        }
    }
}